@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&display=swap');
.container-margin-top {
  margin-top: 6rem;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.page-subtitle {
  color: white;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#homeBtn-text {
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
}

.left-container {
  padding: 5rem 5rem 5rem 5rem;
  float: left;
  width: 50rem;
}

.float-right {
  float: right;
}

#macbook {
  padding-top: 5rem;
  height: 25rem;
  float: right;
}

.padding-top-5 {
  padding: 5rem;
}

.section-title {
  padding: 2rem;
}

hr {
  border-radius: 20%;
  border: solid grey 2px;
}


.bgc-white {
  background-color: white;
}

.orange-text {
  color: orange;
}

.center-text{
  text-align: center;
}

.padding-left-5 {
  padding-left: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-left: .5rem;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.column-1 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.column-3 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 3;
}

.left-column {
  height: 100%;
}

.right-column {
  height: 100%;
}

.bold {
  font-weight: bold;
}

.court-card {
  margin: 1rem 0 0 0;
}

.white-blk-outline {
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.bgc-wheat {
  background-color: wheat;
}

.toast-notification {
  z-index: 21;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.fade-out{
  opacity: 0;
  width: 0;
  height: 0;
  transition: width 1.5s 1.5s, height 1.5s 1.5s, opacity 1.5s;
}

.fade-in{
  opacity:1;
  transition: width 1.5s, height 1.5s, opacity 1.5s 1.5s;
}

.red-text {
  color: red;
}